.DS_Store
eboot.bin
*.pkg
pkg.gp4
sce_sys/param.sfo
merger-app/x64/Debug/*
!merger-app/x64/Debug/.gitkeep

splitter/build/*
!splitter/build/.gitkeep
splitter/build-windows/*
!splitter/build-windows/.gitkeep
splitter/build-linux/*
!splitter/build-linux/.gitkeep